// _variables.scss
//
// @package ember/preloader

// === Defaults ===

$defaults: (
  baseline: 16px
);

// === Colors ===

$colors: (
  primary: blueviolet,

  black: black,
  white: white
);

// === Canvas ===

$canvas: (
  background: map-get($colors, black),
  color: map-get($colors, white)
);

// === Preloader ===

$preloader: (
  progress: (
    bar: (
      background: map-get($colors, primary),
      height: 6px
    ),

    peg: (
      color: map-get($colors, primary),
      opacity: 1.0
    ),

    spinner: (
      icon: (
        border-color: map-get($colors, primary) map-get($colors, primary) transparent transparent,
        border-width: 2px
      )
    ),

    z-index: 9999
  ),

  loading: (
    logo: (
      animation-duration: 2s,
      animation-name: fade-in
    )
  ),

  complete: (
    logo: (
      animation-duration: 1s,
      animation-name: fade-out
    )
  )
);