!!! 5
%html.no-js{ lang: 'en' }
  = partial 'partials/index/head'

  %body{ id: current_page.data[:id], class: "#{current_page.data[:class] || 'default'} canvas" }
    = yield_content :canvas

    = partial 'partials/index/javascripts'