// _logo.sass
//
// @package ember/preloader/contour/shared/elements

@mixin logo
  $logo-height:  96px !default
  $logo-width:   96px !default
  $logo-opacity: 0    !default

  .logo
    display: none
    height: $logo-height
    opacity: $logo-opacity
    width: $logo-width

    @include retina-image('ember/preloader/contour/shared/elements/logo/background', $logo-width $logo-height)

    .active &
      display: block

    .loading &
      animation-duration: map-get-deep($preloader, loading, logo, animation-duration)
      animation-name: map-get-deep($preloader, loading, logo, animation-name)

    .complete &
      animation-duration: map-get-deep($preloader, complete, logo, animation-duration)
      animation-name: map-get-deep($preloader, complete, logo, animation-name)